<div class="container" style="padding-top: 20px">
    
    <div class="col-md-4">
            <form (ngSubmit)="onSubmit()" #dataForm="ngForm">
                    <div class="form-group">
                      <label for="title">Event Title</label>
                      <input type="text" class="form-control" id="title"
                             required
                             [(ngModel)]="title" name="title">
                    </div>

                    <div class="form-group">
                            <label for="title">Event Description</label>
                            <input type="text" class="form-control" id="description"
                                   required
                                   [(ngModel)]="description" name="description">
                          </div>

                    <div class="form-group">
                        <label for="timefrom">Time From</label>
                        <input type="time" class="form-control" id="timefrom"
                                required
                                [(ngModel)]="timefrom" name="timefrom">
                        </div>

                    <div class="form-group">
                            <label for="timeto">Time To</label>
                            <input type="time" class="form-control" id="timeto"
                                    required
                                    [(ngModel)]="timeto" name="timeto">
                            </div>

                    <div class="form-group">
                            <label for="selecteddate">Date</label>
                            <input type="date" class="form-control" id="selecteddate"
                                    required
                                    [(ngModel)]="selecteddate" name="selecteddate">
                            </div>
               
               
                    <button type="submit" class="btn btn-success" >Submit</button>
                </form>
                <div>
                <br>
                        <button class="btn btn-success" (click)='load()'>Load Event</button>
                        <h4>Event Details</h4>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Details</th>
                                <th>Remove</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let selecteddata of data; index as i">
                                <td>{{selecteddata.title}}</td>
                                <td><button class="btn btn-small" (click)="removeData(i, selecteddata.i)">Remove</button></td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
    </div>
    <div class="col-md-8">
        <!-- <a (click)="loadevents()"> loadevents</a>
        <p>Display event : {{displayEvent | json}}</p> -->
        <div *ngIf="calendarOptions">
            <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
        </div>

    </div>

</div>